.App {
  text-align: center;
  text-emphasis: none;
}
.ul
.App-logo {
  height: 40vmin;
  pointer-events: none;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.ul-box{
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  margin: 0 auto;

}
.list-box{
  text-decoration: none;
  display: flex;
  list-style: none;
  margin: 0 auto;
  width:500px;

}
.왼쪽{
margin-right: auto;
}

table{
  margin: 0 auto;
}
.table{
  text-align: center;
}

h1{
  text-align: center;
  
}

.div{
  text-align: center;
}
.table{
  text-align: center;
}


